<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Users Table</h3>

                <div class="card-tools">
                 <button class="btn btn-success" data-toggle="modal" data-target="#addNew">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Type</th>
                      <th>Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>183</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-success">Approved</span></td>
                      <td>
                          <a href="">
                              <i class="fa fa-edit"></i>
                          </a>
                          |
                          <a href="">
                              <i class="fa fa-trash red"></i>
                          </a>
                      </td>
                    </tr>
                  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="createUser" @keydown="form.onKeydown($event)">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                        <input type="text" v-model="form.fname" name="fname"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('fname') }" 
                        placeholder="First name">
                        <has-error :form="form" field="fname"></has-error>
                        </div>

                        <div class="col">
                        <input type="text" v-model="form.lname" name="lname"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('lname') }" 
                        placeholder="Last name">
                        <has-error :form="form" field="lname"></has-error>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" v-model="form.email" name="email"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('email') }"
                        placeholder="Email Address">
                        <has-error :form="form" field="email"></has-error>
                    </div>
                    <div class="form-group">
                        <textarea v-model="form.bio" name="bio"
                        class="form-control" placeholder="Short bio for user (Optional)" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <select name="type" v-model="form.type" id="type" 
                        class="form-control" :class="{ 'is-invalid': form.errors.has('type') }" >
                            <option value="">Select User Role</option>
                            <option value="0">Admin</option>
                            <option value="1">Standard User</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>
                    <div class="form-group">
                        <input type="password" v-model="form.password" name="password"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" 
                        placeholder="Password">
                        <has-error :form="form" field="password"></has-error>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>
</template>

<script>
    export default {
        data(){
            return {
                form: new Form({
                    userid:'',
                    fname:'',
                    lname:'',
                    email:'',
                    password:'',
                    type:'',
                    bio:'',
                    photo:''
                })
            }
        },
        methods:{
            createUser(){
                this.form.post('api/user')
                .then(({ data }) => { console.log(data) })
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
